In [ ]:
# Explore turnstile data to look at how people exit stations before a large event
# and enter stations afterwards. Goal is to assist police in redirecting traffic flow 
# through high density stations as a means to improve pedestrian safety
# Consider Grand Central Station on two events: 4th Of Jult Fireworks (to the east of the statiobn) and 
# St. Patrick's Day Parade (to the west of the station). How do people exit the station to get to the event
# how do people re-enter the station after the event?
# what time do people start to crowd the station? 
# how does this compare to a typical weekday?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [43]:
# various options in pandas
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 75)
pd.set_option('display.precision', 3)

In [3]:
mta_df = pd.read_csv('../01_Data/turnstile_180707.txt')   #read CSV of data including July 4th 2018

In [19]:
gct_df = mta_df[mta_df.STATION == 'GRD CNTRL-42 ST'] #Isolate only Grand Central Station data

In [32]:
gct_74_df = gct_df[gct_df.DATE == '07/04/2018']  #isolate only July 4th

In [35]:
gct_74_df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
151016,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,01:00:00,REGULAR,1474370,4172636
151017,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,05:00:00,REGULAR,1474372,4172645
151018,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,09:00:00,REGULAR,1474385,4172766
151019,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,13:00:00,REGULAR,1474430,4173064
151020,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,17:00:00,REGULAR,1474541,4173376
151021,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,21:00:00,REGULAR,1474625,4173909
151058,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,01:00:00,REGULAR,328902,705497
151059,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,05:00:00,REGULAR,328902,705501
151060,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,09:00:00,REGULAR,328916,705608
151061,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,13:00:00,REGULAR,328955,705878

In [56]:
gct_74_df["C/A"].value_counts()

R238     108
R236      71
R240      66
R238A     48
R237      42
R241A     30
R237B     24
Name: C/A, dtype: int64

In [55]:
gct_74_df["UNIT"].value_counts()

R046    198
R047     90
R045     71
R048     30
Name: UNIT, dtype: int64

In [54]:
gct_74_df["SCP"].value_counts()

00-00-01    24
00-00-00    24
00-00-03    18
00-03-03    18
00-03-01    18
00-00-04    18
00-03-00    18
00-00-02    18
00-03-02    17
01-00-01    12
00-06-01    12
01-00-02    12
01-00-03    12
01-00-00    12
00-06-00    12
00-00-05    12
00-03-04    12
02-00-04     6
02-03-00     6
00-05-01     6
02-00-00     6
01-00-04     6
00-03-05     6
00-03-08     6
02-00-02     6
00-03-07     6
00-03-06     6
02-03-02     6
00-06-02     6
00-00-07     6
00-05-00     6
02-03-01     6
02-00-01     6
01-00-05     6
01-00-06     6
00-00-06     6
02-00-03     6
Name: SCP, dtype: int64

In [46]:
gct_74_df[gct_74_df.UNIT == 'R045']['SCP'].unique()

array(['00-00-00', '00-00-01', '00-00-02', '00-00-03', '00-00-04',
       '00-00-05', '00-03-00', '00-03-01', '00-03-02', '00-03-03',
       '00-06-00', '00-06-01'], dtype=object)