In [ ]:
# Explore turnstile data to look at how people exit stations before a large event
# and enter stations afterwards. Goal is to assist police in redirecting traffic flow 
# through high density stations as a means to improve pedestrian safety
# Consider Grand Central Station on two events: 4th Of Jult Fireworks (to the east of the statiobn) and 
# St. Patrick's Day Parade (to the west of the station). How do people exit the station to get to the event
# how do people re-enter the station after the event?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [2]:
# various options in pandas
pd.set_option('display.max_columns', 25)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [3]:
mta_df = pd.read_csv('../01_Data/turnstile_180707.txt')   #read CSV of data including July 4th 2018

In [19]:
gct_df = mta_df[mta_df.STATION == 'GRD CNTRL-42 ST'] #Isolate only Grand Central Station data

In [32]:
gct_74_df = gct_df[gct_df.DATE == '07/04/2018']

In [35]:
gct_74_df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
151016,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,01:00:00,REGULAR,1474370,4172636
151017,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,05:00:00,REGULAR,1474372,4172645
151018,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,09:00:00,REGULAR,1474385,4172766
151019,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,13:00:00,REGULAR,1474430,4173064
151020,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,17:00:00,REGULAR,1474541,4173376
151021,R236,R045,00-00-00,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,21:00:00,REGULAR,1474625,4173909
151058,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,01:00:00,REGULAR,328902,705497
151059,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,05:00:00,REGULAR,328902,705501
151060,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,09:00:00,REGULAR,328916,705608
151061,R236,R045,00-00-01,GRD CNTRL-42 ST,4567S,IRT,07/04/2018,13:00:00,REGULAR,328955,705878

In [39]:
groupby_df = gct_74_df.groupby(['C/A','UNIT','SCP']).count()

In [40]:
groupby_df

                     STATION  LINENAME  DIVISION  DATE  TIME  DESC  ENTRIES  \
C/A   UNIT SCP
R236  R045 00-00-00        6         6         6     6     6     6        6
           00-00-01        6         6         6     6     6     6        6
           00-00-02        6         6         6     6     6     6        6
           00-00-03        6         6         6     6     6     6        6
           00-00-04        6         6         6     6     6     6        6
           00-00-05        6         6         6     6     6     6        6
           00-03-00        6         6         6     6     6     6        6
           00-03-01        6         6         6     6     6     6        6
           00-03-02        5         5         5     5     5     5        5
           00-03-03        6         6         6     6     6     6        6
           00-06-00        6         6         6     6     6     6        6
           00-06-01        6         6         6     6     6     6        6
...                      ...       ...       ...   ...   ...   ...      ...
R240  R047 00-03-02        6         6         6     6     6     6        6
           00-03-03        6         6         6     6     6     6        6
           00-03-04        6         6         6     6     6     6        6
           00-03-05        6         6         6     6     6     6        6
           00-03-06        6         6         6     6     6     6        6
           00-03-07        6         6         6     6     6     6        6
           00-03-08        6         6         6     6     6     6        6
R241A R048 00-00-00        6         6         6     6     6     6        6
           00-00-01        6         6         6     6     6     6        6
           00-00-02        6         6         6     6     6     6        6
           00-00-03        6         6         6     6     6     6        6
           00-00-04        6         6         6     6     6     6        6

                     EXITS
C/A   UNIT SCP
R236  R045 00-00-00                                                  6
           00-00-01                                                  6
           00-00-02                                                  6
           00-00-03                                                  6
           00-00-04                                                  6
           00-00-05                                                  6
           00-03-00                                                  6
           00-03-01                                                  6
           00-03-02                                                  5
           00-03-03                                                  6
           00-06-00                                                  6
           00-06-01                                                  6
...                                                                ...
R240  R047 00-03-02                                                  6
           00-03-03                                                  6
           00-03-04                                                  6
           00-03-05                                                  6
           00-03-06                                                  6
           00-03-07                                                  6
           00-03-08                                                  6
R241A R048 00-00-00                                                  6
           00-00-01                                                  6
           00-00-02                                                  6
           00-00-03                                                  6
           00-00-04                                                  6

[65 rows x 8 columns]